[Unit]
Description=backup zfs pool onto remote
Requires=zfs.target
After=zfs.target

[Service]
ExecStart=/usr/local/bin/zfs-backup.sh

[Install]
WantedBy=multi-user.target
