[Unit]
Description=backup zfs pool onto remote
Requires=zfs.target
After=zfs.target

[Service]
ExecStart=/usr/local/sbin/zfs-backup

[Install]
WantedBy=multi-user.target
