[Unit]
Requires=zfs-mount.service
After=zfs-mount.service

[Service]
ExecStart=/usr/local/bin/network-print-queue-watcher
WorkingDirectory=/mnt/zpool0/print_queue

[Install]
WantedBy=zfs.target
