[Unit]
Description=Timer for google-drive sync
Requires=mnt-zpool0-home-liss-google_drive.mount
After=mnt-zpool0-home-liss-google_drive.mount

[Timer]
OnCalendar=daily

[Install]
WantedBy=timers.target
