[Unit]
Description=Sync lissheidr google drive to /mnt/zpool0/home/liss/google_drive
Requires=mnt-home-liss-google_drive.mount

[Service]
WorkingDirectory=/mnt/zpool0/home/liss/google_drive
Type=oneshot
ExecStart=drive-google pull
