[Unit]
Description=%I podman container
Requires=network.target
After=network.target

[Service]
Type=forking
Restart=on-abnormal
WorkingDirectory=/etc/container/%i
Environment=DATA_PREFIX=/var/lib/container/%i
Environment=SOURCE_PREFIX=/usr/local/src/container/%i

ExecStart=/usr/bin/podman-compose up --force-recreate -d
ExecStartPost=/usr/local/bin/podman-change-zone -c %i

ExecStopPre=/usr/local/bin/podman-change-zone -r %i
ExecStop=/usr/bin/podman-compose down


[Install]
WantedBy=multi-user.target
