[Unit]
Description=timer for docker-data-cache-backup.service
After=mnt-zpool0-vm-docker.mount
Requires=mnt-zpool0-vm-docker.mount

[Timer]
OnCalendar=daily

[Install]
WantedBy=timers.target

